/* #region IMPORT */
@import url('style.css');
/* #endregion IMPORT */


/* #region GERAL */
body {
    color: #f5e077;
    font-family: var(--comfortaa-font);
}

.active-option {
    color: var(--main-color);
    background-color: #333143;
    border-radius: 8px;
}

.dark-input {
    background-color: var(--main-bg);
    color: #fff;
    box-shadow: 2px 2px 3px 3px #0504113f inset;
    border-color: #0706183f;
}
.dark-input:focus {
    background-color: var(--lighter-plus);
    color: #fff;
}

.required-sign { color: #e53935; }
/* #endregion GERAL */


/* #region HEADER */
.header {
    height: 20%;
    border-bottom: 1px solid #333143;
}

.header-title-content {
    padding: 10px;
}

.logo-image {
    margin-right: 5px;
}

.name-content {
    margin-left: 5px;

    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: -5px 5px #15162f;
}


.header-options-content {
    height: 100%;
    width: fit-content;
    justify-self: center;
}
.header-option {
    height: 35px;
    color: var(--main-color);
    text-shadow: 0 3px #15162f;

    transition: all .5s;
}
.header-option:hover {
    color: var(--main-color);
    background-color: #333143;
    border-radius: 8px;
}


.header-profile-content {
    height: 100%;
    width: 100px;
    display: grid;
    place-items: center;
}
.profile-option > img {
    height: 50px;
    width: 50px;

    box-shadow: 3px 3px #15162f;
    transition: all .5s;
}
.profile-option > img:hover {
    transform: scale(1.1);

    box-shadow: 4px 4px #15162f;
}
/* #endregion HEADER */


/* #region BODY */
.body-content {
    height: 80%;
    background-color: #333143;
}

.side-menu {
    background-color: #222130;
    display: grid;
    place-items: center;
}


/* #region FILTROS */

.action-btn button {
    background-color: var(--main-color);
    letter-spacing: 2px;
    color: #150825;
}

.dark-input {
    background-color: var(--main-bg);
    color: #fff;
    box-shadow: 2px 2px 3px 3px #0504113f inset;
    border-color: #0706183f;
}
.dark-input:focus {
    background-color: var(--lighter-plus);
    color: #fff;
}

/* #endregion FILTROS */


/* #region MAIN */
.title-container {
    border-bottom: 1px solid #444356;
}

.new-record-btn {
    background-color: var(--main-color);
    letter-spacing: 2px;
    color: #150825;
}

.custom-table {
    border-color: #444356;
}

.table-header-row {
    background-color: #444356;
    color: var(--main-color);
}

.table-content-row {
    color: #fff;
}

.green-color { color: #08af25; }
.red-color { color: #e53935; }

.pagination {
    background-color: #444356;
}
/* #endregion MAIN */

/* #endregion BODY */


/* #region MODAIS */
.modal-content {
    background-color: #222130;
}

.modal .modal-cancel-btn {
    background-color: var(--red-component);
    letter-spacing: 2px;
    color: #150825;
}
.modal .modal-save-btn {
    background-color: var(--main-color);
    letter-spacing: 2px;
    color: #150825;
}
/* #endregion MODAIS */
