/* #region VARIÁVEIS */
:root {
    /* Cores principais */
    --main-bg: #222130;
    --main-color: #ebd705;

    /* Cores de componentes */
    --light-input-color: #ecedee;
    --cancel-button:  #e53935;

    /* Textos */
    --font: 'Quicksand', sans-serif;
}
/* #endregion VARIÁVEIS */

* {
    box-sizing:  border-box;
    margin: 0;
    padding: 0;

    font-family: var(--font)
}

body {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    color: #FFF;
    background-color: var(--main-bg);
}

.left-column {
    background-image: url('../assets/stage-financial-planning.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.left-column { padding: 0; }
.right-column { padding: 0; }


/* #region LOGIN CARD */
.login-card-title { color: var(--main-color); letter-spacing: 5px; }


/* #region ACTION BUTTONS */
.login-btn {
    letter-spacing: 2px;
    color: #2b134b;
    background-color: var(--main-color);

    box-shadow: -2px 2px 1px 1px #070618;
    transition: all .5s;
}
.signin-btn {
    letter-spacing: 2px;
    color: #2b134b;
    background-color: var(--main-color);

    box-shadow: -2px 2px 1px 1px #070618;
    transition: all .5s;
}

.forgot-password-text { color: var(--main-color); transition: all .5s; }
.forgot-password-text:hover { color: #fff695; }
/* #endregion ACTION BUTTONS */


/* #endregion LOGIN CARD */

/* #region MODAL ADD USERS */
.modal-content {
    background-color:  #222130;
    color: #fff;
}
.modal-header .btn-close {
    color: #fff;
    background-color: #444256;
}

.modal .modal-cancel-btn {
    background-color: var(--cancel-button);
    letter-spacing: 2px;
    color: #150825;
}
.modal .modal-save-btn {
    background-color: var(--main-color);
    letter-spacing: 2px;
    color: #150825;
}

.modal-input {
    background-color: #222130;
    color: #fff;
    box-shadow: 2px 2px 3px 3px #0504113f inset;
    border-color: #0706183f;
}
.modal-input:focus {
    background-color: #444256;
    color: #fff;
}
/* #endregion MODAL ADD USERS */
