/* #region IMPORT */
@import url('style.css');
/* #endregion IMPORT */


/* #region BODY CONTENT */
.left-column {
    background-image: url('../assets/stage-financial-planning.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.left-column { padding: 0; }
.right-column { padding: 0; }


/* #region LOGIN CARD */
.login-card-title { color: var(--main-color); letter-spacing: 5px; }


/* #region ACTION BUTTONS */
.login-btn {
    letter-spacing: 2px;
    color: #2b134b;
    background-color: var(--main-color);

    box-shadow: -2px 2px 1px 1px #070618;
    transition: all .5s;
}
.signin-btn {
    letter-spacing: 2px;
    color: #2b134b;
    background-color: var(--main-color);

    box-shadow: -2px 2px 1px 1px #070618;
    transition: all .5s;
}

.forgot-password-text { color: var(--main-color); transition: all .5s; }
.forgot-password-text:hover { color: #fff695; }
/* #endregion ACTION BUTTONS */

/* #endregion LOGIN CARD */

/* #endregion BODY CONTENT */


/* #region MODAIS */
.modal-content {
    background-color:  #222130;
    color: #fff;
}
.modal-header .btn-close {
    color: #fff;
    background-color: #444256;
}

.modal .modal-cancel-btn {
    background-color: var(--red-component);
    letter-spacing: 2px;
    color: #150825;
}
.modal .modal-save-btn {
    background-color: var(--main-color);
    letter-spacing: 2px;
    color: #150825;
}

.modal-input {
    background-color: var(--main-bg);
    color: #fff;
    box-shadow: 2px 2px 3px 3px #0504113f inset;
    border-color: #0706183f;
}
.modal-input:focus {
    background-color: var(--lighter-plus);
    color: #fff;
}

.required-sign { color: var(--red-component); }
/* #endregion MODAIS */
