/* #region VARIÁVEIS */
:root {
    /* Cores de fundo */
    --dark-details: #15162f;            /* Letras e detalhes mais escuros */
    --main-bg: #222130;                 /* Principal cor de background, usada na maior parte do projeto */
    --lighter-background: #333143;      /* Cor mais clara para background, detalhes ou diferenciação */
    --lighter-plus: #444356;            /* Cor ainda mais clara, para ênfase, detalhes ou diferenciação */
    
    /* Cores principais */
    --main-color: #ffd957;              /* Cor principal do projeto, usada em maior parte dos componentes e cores */
    --main-details-color: #ebd705;      /* Cor principal mais vívida, usada para diferenciação ou estilo específico */

    /* Cores de componentes */
    --light-input-color: #ecedee;
    --red-component:  #e53935;         /* Usada em componentes vermelhos */
    --green-component: #08af25;        /* Usada em componentes verdes */

    --alternative-green: #14c870;      /* Cor alternativa para o verde */

    /* Fonte */
    --quicksand-font: 'Quicksand', sans-serif;
    --comfortaa-font: 'Comfortaa', cursive;
}
/* #endregion VARIÁVEIS */

* {
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    color: var(--main-color);
    font-family: var(--quicksand-font);
}
